@media screen and (max-width: 992px) {
    .navbar-brand img {
        width: 65px;
    }
    .hero-single .hero-content .hero-title {
        font-size: 35px;
        font-weight: 600;
        margin: 5px 0;
    }
    .hero-slider.owl-theme .owl-nav [class*="owl-"] {
        color: var(--color-white);
        font-size: 16px;
        margin: 0;
        padding: 0;
        background: var(--slider-arrow-bg);
        display: inline-block;
        cursor: pointer;
        height: 45px;
        width: 45px;
        line-height: 45px;
        border-radius: 50px;
        text-align: center;
        transition: var(--transition);
    }
    .hero-single {
        padding-top: 135px;
        padding-bottom: 158px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .booking-form .form-select, .booking-form .form-control {
        padding: 10px 35px 11px 10px;
        border-radius: 10px;
        font-size: 17px;
        box-shadow: none;
        color: var(--body-text-color);
    }
    .booking-form .theme-btn {
        width: 100%;
        padding: 12px;
    }
    .booking-form .form-group {
        margin-top: 2px;
        position: relative;
    }
    .booking-form .form-control {
        font-size: 20px;
    }
    .site-breadcrumb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        position: relative;
        padding-top: 150px;
        padding-bottom: 55px;
        z-index: 1;
    }
    .site-breadcrumb {
        padding-top: 145px;
    }
    .site-title {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 28px;
        color: var(--color-dark);
        margin-bottom: 0;
    }
    section {
        padding: 45px 0;
    }
    .about-right {
        margin-top: 0;
    }
    .about-right {
        position: relative;
        display: block;
        padding-left: 0;
    }
    .footer-logo img {
        width: 150px;
        margin-bottom: 20px;
    }
    footer {
        padding: 55px 0 0;
    }
}
@media screen and (max-width: 767px) {
    .hero-single .hero-content .hero-btn {
        gap: 10px;
    }
    .hero-single .hero-content .hero-btn {
        gap: 1rem;
        display: flex;
        margin-top: 19px;
        justify-content: start;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 567px) {}